name: Build

on:
  release:
    types: [published] # include pre-releases
  push:
    branches: # ignore any tags
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      - name: Compress
        run: |
          FILE=pvg-app-${GITHUB_SHA::7}.tar.xz
          echo "FILE=$FILE" >> $GITHUB_ENV
          tar -cJvf $FILE build

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILE }}
          path: ${{ env.FILE }}

      - name: Compress for Release
        if: ${{ github.event_name == 'release' }}
        run: |
          ZIP_FILE=pvg-app-${GITHUB_REF##*/}.zip
          echo "ZIP_FILE=$ZIP_FILE" >> $GITHUB_ENV
          cd build
          zip -r ../$ZIP_FILE *

      - uses: shogo82148/actions-upload-release-asset@v1
        if: ${{ github.event_name == 'release' }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ env.ZIP_FILE }}
